<section class="pt-2 pb-6 bg-gray-100" id="count-stats">
    <div class="container  mt-5">
      <div class="row justify-content-center text-center">
        <div class="col-md-3">
          <h1 class="text-gradient text-info"><span id="state1" countTo="180">0</span>+</h1>
          <h5>Projects</h5>
          <p>Of “high-performing” level and quality projects completed</p>
        </div>
        <div class="col-md-3">
          <h1 class="text-gradient text-info"><span id="state2" countTo="8400">0</span>+</h1>
          <h5>Hours</h5>
          <p>That meets quality standards required by client and users</p>
        </div>
        <div class="col-md-3">
          <h1 class="text-gradient text-info"><span id="state3" countTo="24">0</span>/7</h1>
          <h5>Available</h5>
          <p>For On-site and Remote projects and contract</p>
        </div>
      </div>
    </div>
  </section>
