<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mx-auto py-4 mb-3">
                <h1 class="text-gradient text-info">Work Experience</h1>
            </div>
            <div class="col-lg-6">
                <h3 class="text-gradient text-primary mb-0 mt-2">ForwardDevs | Lagos, LA. <br>
                    Python Developer/Intern</h3>
                <h5>July 2018 - June 2019</h5>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-ship opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Collaborated with the team to troubleshoot and resolve software defects,
                            enhancing the stability and reliability of applications.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-handshake opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Designed and developed responsive user interfaces using modern front-end
                            frameworks like Flask, ensuring seamless functionality.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-hourglass opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Designed and configured database and backend apps and programs,
                            contributing to operations continuity and increasing efficiency by 14%.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-hourglass opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Developed, tested, and debugged software tools utilized by 100+ clients and
                            internal customers to facilitate and easier process and user experience</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-hourglass opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Obtained adequate experience in reviewing Python code for running the
                            troubleshooting test-cases and bug issues, acquiring all necessary skills.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                <h3 class="text-gradient text-primary mb-0 mt-2">InterTech | Port Harcourt, PH. <br>
                    Python Developer</h3>
                <h5>August 2021 - March 2023</h5>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-ship opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Developed reusable front-end components using HTML, CSS, and JavaScript,
                            contributing to faster development cycles.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-ship opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Assisted in building and maintaining Flask web applications,
                            gaining hands-on experience in full stack development practices.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-handshake opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Assisted in writing efficient Python scripts for data processing and automation,
                            improving internal workflows.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-hourglass opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Utilized version control and CI/CD pipelines to ensure efficient code management
                            and continuous deployment of application updates.</p>
                    </div>
                </div>
                <div class="py-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-hourglass opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Maintained large databases and configured services to reduce software
                            maintenance expenses, decreasing the costs by 15% within just one year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->