<section class="pt-sm-8 pb-5 position-relative bg-gradient-primary">
    <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
        <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>wave-down</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#FFFFFF" fill-rule="nonzero">
                    <g id="wave-down">
                        <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z"
                              id="Path-Copy-2"
                              transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) "></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
                <h3 class="text-white z-index-1 position-relative">The InterTech Executive Team</h3>
                <p class="text-white opacity-8 mb-0">There was nothing we wanted Amos to do that he wasn’t able to get
                    perfectly. That’s one of his skills.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card card-profile overflow-hidden">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                            <a href="javascript:;">
                                <div class="p-3 pe-md-0">
                                    <img class="w-100 border-radius-md"
                                         src="../static/assets/img/kal-visuals-square.jpg" alt="image">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                            <div class="card-body">
                                <h5 class="mb-0">Success Wills</h5>
                                <h6 class="text-info">UI Designer</h6>
                                <p class="mb-0">"Have worked with Amos multiple times now and have never been
                                    disappointed. He communicates really easily, great developer."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card card-profile mt-lg-0 mt-5 overflow-hidden">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                            <a href="javascript:;">
                                <div class="p-3 pe-md-0">
                                    <img class="w-100 border-radius-md" src="../static/assets/img/bruce-mars.jpg"
                                         alt="image">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                            <div class="card-body">
                                <h5 class="mb-0">Rogers Benson</h5>
                                <h6 class="text-info">Senior Python Developer</h6>
                                <p>"Working with Amos in the last couple of months. He is a
                                        very independent thinker, able to drive substantial changes without any
                                        hand-holding."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-12">
                <div class="card card-profile overflow-hidden z-index-2">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                            <a href="javascript:;">
                                <div class="p-3 pe-md-0">
                                    <img class="w-100 border-radius-md" src="../static/assets/img/ivancik.jpg"
                                         alt="image">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                            <div class="card-body">
                                <h5 class="mb-0">Brown Taylor</h5>
                                <h6 class="text-info">Python Developer</h6>
                                <p>"Amos is an Expert not only in the front-end but also in the
                                        backend developers world. Felt like we received
                                        two developers for the price of one."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card card-profile mt-lg-0 mt-5 overflow-hidden z-index-2">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                            <a href="javascript:;">
                                <div class="p-3 pe-md-0">
                                    <img class="w-100 border-radius-md" src="../static/assets/img/ivana-square.jpg"
                                         alt="image">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                            <div class="card-body">
                                <h5 class="mb-0">Judith Daniels</h5>
                                <h6 class="text-info">JS Developer</h6>
                                <p>"Worked with Amos on revisions and tweaks I wanted.
                                  Followed my design exactly and Implemented the backend perfectly."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute w-100 bottom-0 mn-n1">
        <svg width="100%" viewBox="0 -1 1920 166" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>wave-up</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g id="wave-up" transform="translate(0.000000, -5.000000)">
                        <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z"
                              fill="#f8f9fa"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</section>